*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

div#redred{
    padding-top: 30px;
    padding-bottom: 50px;
    color:darkolivegreen;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-color: cornflowerblue;
    border: 5px solid;
    border-radius: 20px;
    border-color: darkturquoise;
    background-image: url(../assets/img/pk.jpg);
    margin: 30px 30px 30px 0px;
}


.blueblue{
    color:darkseagreen;
}
body{
    font-family: 'NOTO SERIF TC';
}
.expedu_icon{
    color: cadetblue;
}
.expedu_icon:hover{
    background-color: cadetblue;
    color: white;
}
.bg-primary{
    background-color: darkolivegreen !important;
    background-image: url(../assets/img/eso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.table-80{
    width: 80%;
}
.aqua1234{
    width: 50%;
    margin: 30px 30px 30px 0px;
}