*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

p.redred{
    color:darkolivegreen;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-color: cornflowerblue;
    border: 5px solid;
    border-color: darkturquoise;
    background-image: url(../assets/img/eso.jpg);
}

.blueblue{
    color:darkseagreen;
}
body{
    font-family: 'NOTO SERIF TC';
}
.expedu_icon{
    color: cadetblue;
}
.expedu_icon:hover{
    background-color: cadetblue;
    color: white;
}